* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(45deg, #0a0a0a, #1a1a1a);
  color: #ffffff;
}


.gradient-text {
  background: linear-gradient(45deg, #fff, #888);
  
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glass-effect {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        margin: 50px 20px;
        gap: 5%;
    }

    .skills {
        grid-template-columns: repeat(2, 1fr);
    }

    .stack {
        margin-top: 200px;
        margin-bottom: 100px;
    }

    body {
        min-width: 0;
    }
}

